/***************************************
* Joana Pereira's Portfolio
* Version 1.0 - February 2016
***************************************/

/****** Resets *****/
body{
    color: #222725;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
    margin:0px;
    padding:0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', Helveica, Arial, sans-serif;
    color: #5DB7DE;
}
a{
    color: #1D84B5;
}
ul{
    list-style: none;
}
ul:after{
    content: "";
    clear: both;
}
li{
    float: left;
    margin-left:5px;
    margin-right: 5px;
}
li:first-child{
    margin-left: 0px;
}

.clearfix{
    clear: both;
}

/*** Left Panel  ***/
#LeftPanel{
    width: 45vw;
    width: 45% ;
    height: 100vh;
    padding: 30px;
    float:left;
    position: fixed;
}

#introduction{
    position: relative;
    top:20%
}

#introduction h1{
    font-size: 9rem;
}

#heart{
    color:#B3679B;
}

/*** Right Panel ***/
#RightPanel{
    width: 55vw;
    width: 55%;
    min-height: 100vh;
    float: right;
    padding:30px;
    position: relative;
    overflow: hidden;
}
#experiment{
    height: 150px;
    width: 50%;
    background: -webkit-linear-gradient(transparent, #FFF);
    background: linear-gradient(transparent, #FFF);
    position: fixed;
    bottom: 0;
}

.project{
    margin-bottom: 2.5rem;
    border-bottom: 1px dotted #F5F5F5;
}
.project p {
    margin-bottom: 1.5rem;
}


/* Footer */
#footer{
    position: fixed;
    bottom: 0;
}

/** Nice To Have ***/
/* Pulsating circle */
#scrollIndicator {
    border-radius: 100%;
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 1;
    left: calc(50% - 25px);
    bottom: 10px;
    -webkit-transition: opacity 1.3s .5s;
}
#scrollIndicator i {
    width:30px;
    height: 30px;
    display: block;
    background: url(../img/icon_arrow_light.svg) no-repeat center center #1D84B5;
    background-size: 12px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100
}
#scrollIndicator:before {
    content: "";
    top: 0;
    left: 0;
    background-color: #1D84B5;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    -webkit-animation: jumper 1.8s 0.33333s ease-out infinite;
}
#scrollIndicator:after {
    content: "";
    background-color: #1D84B5;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    -webkit-animation: jumper 1.8s 0.66666s ease-out infinite;
}
@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    5% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}
@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    5% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}