/***************************************
* Joana Pereira's Portfolio
* Version 1.0 - February 2016
* Version 2.0 - August 2017
***************************************/

/****** Resets *****/
body{
    color: #222725;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
    margin:0px;
    overflow-x: hidden;
    padding:0px;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6{
    color: #5DB7DE;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
a{
    color: #fff;
    text-decoration: underline;
}
ul{
    list-style: none;
}
ul:after{
    content: "";
    clear: both;
}
li{
    float: left;
    margin-left:5px;
    margin-right: 5px;
}
li:first-child{
    margin-left: 0px;
}

.clearfix{
    clear: both;
}

/* Elements - DRY */

#introduction,
#skills,
#project{
    min-height: 100vh;
}

#introduction,
#quote,
#footer{
    background-color: #5DB7DE;
    color: #fff;
}


/*** Introduction  ***/
#introduction{
    font-size: 1.2em;
    padding-top: 12vw;
}

#introduction h1{
    color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 10rem;
    margin-bottom: 50px;
}

#introduction p{
    margin-bottom: 0px;
}
#introduction p:nth-child(2){
    margin-top: 10px;
}

#introduction ul{
    margin-top: 45px;
}

#heart{
    color:#B3679B;
}

/* Skills */

#skills{
    padding-top:12vw;
    margin-bottom: 50px;
}

/* Quote */
#quotewrapper,
#quotewrapper svg{
    width: 100%;
}
#quote{
    height: 25rem;
}

#quote section{
    align-items: center;
    height: 100%;
    justify-content: center;
}

#quote p:first-child{
    font-family: Georgia, serif;
    font-size:2.5em;
    margin-bottom: 0px;
    text-align: center;
}

#quote p:nth-of-type(2){
    text-align: right;
}

/* Projects - timeline */

#projects{
    padding-top: 10vw;
}

#projects a{
    color: #5DB7DE;
}

.project{
    border-left: 5px solid #F1F1F1;
    padding: 4.5rem 2rem 2.5rem 2rem;
    position: relative;
}

.project:before{
    content: attr(date-is);
    display: block;
    font-size: 1.4rem;
    font-weight: lighter;
    text-transform: uppercase;
    position: absolute;
    top: 1em;
}

.project:after{
    background: white;
    border-radius: 10px;
    border: 2px solid #F1F1F1;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    left: -13px;
    top: 1em;
    width: 20px;
}

.project p {
    margin-bottom: 1.5rem;
}

.project p:first-child{
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
}

/* Footer */
#footer{
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    padding-top:3vh;
    text-transform: uppercase;
}

#footer footer{
    align-items: center;
    justify-content: center;
}
